.listElem:hover {
  background-color: #fafafa;
}

.noMargin p {
  margin-top: 0px;
}

.noPadding {
  padding: 1px 0px !important;
}

.noPadding.listElem {
  padding-bottom: 5px !important;
}

.padding {
  padding: 4px 14px;
}

.paddingComment {
  padding: 1px 14px;
}

.hidden {
  visibility: hidden;
}

a.buttonHover:hover {
  background-color: #f3f3f4;
}

/*button more or less*/
#showMoreOrLess {
  position: relative;
}

.showLess {
  max-height: 20px;
  overflow: hidden;
}

.commentButton.left {
  float: left;
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
}

.commentButton.right {
  float: right;
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
}
